:root {
  --font-family: 'Owsald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: rgba(0, 0, 0, 0);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imageContainer {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoContainer {
  background-color: #c1c1c1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  z-index: -1;
}

.songBackground {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 140px;
  align-items: start;
  justify-content: center;
  position: relative;
}

.songBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: var(--dynamic-image-url);
  background-size: 150%;
  background-position-y: 35%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  filter: blur(5px);
  z-index: -10;
}

.songInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 300px;
  padding: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.songInfo h1,
h3 {
  margin: 0;
  z-index: 1;
  color: var(--text-color);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  transition: transform 0.5s ease-in-out;
}

.scrolling {
  animation: scroll 15s linear infinite;
}

@media screen and (max-width: 600px) {
  .imageContainer {
    display: none;
  }
}
